<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <packageSources>
        <!--<clear /> We want to inherit all packages sources -->
        <!-- Packages are defined in Visual Studio or on our build servers. There is nothing to add or replace. -->
        <!--<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />-->
    </packageSources>

    <!-- Define mappings by adding package patterns beneath the target source. -->
    <packageSourceMapping>
        <!-- key value for <packageSource> should match key values from <packageSources> element -->
        <!-- All PDFsharp packages have mutual different names in relation to any external package. No specific rules are needed. -->
        <packageSource key="nuget.org">
            <package pattern="*" />
        </packageSource>
        <packageSource key="nuget-local">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
